* {
    box-sizing: border-box;
    font-family: quicksand;
  }

#form-wrapper{
    display: flex;
}
#img-placeholder{
    flex: 50%;
    padding: 10px;
    
}

#regis-form{
    flex: 50%;
  padding: 10px;
}

input{
    background-color: #FA9047;
    border: none;
    width: 50%;
}
input[type=submit]{
    width: 10%;
}

p{
    font-family: raleway;
}