* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
}

.navbar .navbar__title {
  display: flex;
  align-items: center;
}

.navbar .navbar__title h2 {
  margin-left: 5px;
}

.navbar .navbar__list {
  display: flex;
  align-items: center;
}

.navbar .navbar__list a {
  display: block;
  color: black;
  padding: 10px 15px;
  margin-right: 5px;
  text-decoration: none;
}

.navbar .navbar__list a:last-child {
  margin-right: 0;
}

.navbar .navbar__list .list__button {
  border: 1px solid #fa9047;
  border-radius: 5px;
}

.navbar .navbar__list .list__button:hover {
  background-color: #fa9047;
  color: white;
}

.navbar .navbar__list a:hover {
  background-color: #fafafa;
}

/* nav {
  float: right;
}

nav,
a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 19px;
}

#form-wrapper {
  display: flex;
}

#img-placeholder {
  flex: 50%;
  padding: 10px;
}

#regis-form {
  flex: 50%;
  padding: 0px 95px 0px 70px;
  margin-top: 75px;
}
#judul-form {
  font-size: 30px;
}

input {
  background-color: #fa9047;
  border: none;
  width: 100%;
  height: 40px;
  display: block;
}
input[type="submit"] {
  width: 10%;
}

p {
  font-family: raleway;
}

#quotes {
  font-size: 40px;
} */
